<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://www.r10.net/kaya" target="_blank"
    >
      Kaya
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://bayi.esdlisans.com/lisans-bayi/" target="_blank"
    >
      Lisans satarak para kazanmak ister misiniz?
    </a>
  </p>
</footer>
