<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://esd.ltd" target="_blank"
    >
  <div class="fi mt-2">
    <span class="gpt-title">ESD</span>
    <span class="gpt-subtitle">.LTD</span>
  </div>
    </a>
    
  </p>
      <br><br>
      <a hidden href="https://www.esd.ltd"><img src="https://esd.ltd/esdltd.png" alt="Banner Reklamı"></a>
</footer>
