<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://esd.ltd" target="_blank"
    >
    <b>ESD<b>
    </a>
    <span px-1>|</span>
    
  </p>
      <br><br>
      <a href="https://www.esd.ltd"><img src="https://esd.ltd/esdltd.png" alt="Banner Reklamı"></a>
</footer>
