---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Ducks</span>
    <span class="gpt-subtitle">.PW</span>
  </div>
  <p mt-1 op-60>r10.net/kaya | (gpt-3.5-turbo)<br><b> API bağışı yapmak isteyen(👑) için USDT-Tron/TRC20: TMtt4i4RBeCYC5CCshAnskasASFqMwmeFE<b></p>
</header>
